@charset "utf-8";
html, body, ul, li {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

/* 正中主場景 */
.sencese {
    position: relative;
    width: 1000px;
    height: 700px;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    border: 1px solid rgba(0, 0, 0, .3);
}
#app::after {
    color: white;
    content: '請使用Chrome瀏覽器，擁有最佳使用體驗。 本聊天室不會記錄任何對話，如有需要請自行截圖。';
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 8px;
}

/* 上半部 */
.top {
    width: 100%;
    height: 500px;
    background-color: #a1eba0;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    display: flex;
    border-radius: 8px 8px 0 0
}

/* 訊息列表、線上使用者 */
.msglist, .online {
    height: 100%;
    background-color: white;
}
.msglist {
    flex: 4;
    border-right: 1px solid rgba(0, 0, 0, .4);
    overflow-x:hidden;
    overflow-y:auto;
}

.online {
    flex: 1;
}
.msg_other, .msg_me {  /*其他人、自己的訊息*/
    width: 100%;
    word-break: break-all;  /*文字換行*/
    background-color: #faf7f7;
    border-bottom: 5px solid white;
    padding: 12px;
}
.msg_me {  /*自己發出的訊息*/
    color: rgb(49, 155, 63);
}
.msgname{
    padding-bottom: 4px;
    font-weight: bold;
}
.msgcontent{
    padding-left: 20px;
}
.msg_login, .msg_logout {  /*有人登入、登出的訊息*/
    width: 100%;
    text-align: center;
    color: red;
    padding: 15px;
}
.msg_login > .msgname::before,
.msg_logout > .msgname::before
{
    content: '= = = = = = = = = = = = = = = = = ';
}
.msg_login > .msgname::after {
    content: ' 進入了聊天室 = = = = = = = = = = = = = = = = =';
}
.msg_logout > .msgname::after {
    content: ' 離開了聊天室 = = = = = = = = = = = = = = = = =';
}
.msg_logout {
    color: blue;
}
.msg_login > .msgcontent, .msg_logout > .msgcontent {
    display: none;
}


/* 使用者列表 */
.onlineheader {
    background-color: #616161;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    letter-spacing: 2px;
    line-height: 30px;
}
.users {
    list-style-type: none;
}
.users li {
    margin-top: 8px;
    padding-left: 15px;
}


/* fontawesome icon */
.faicon {
    margin-right: 8px;
}

/* 訊息輸入區 */
.msgarea {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f4f2f2;
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, .4);
}

/* 訊息輸入欄、送出按鈕*/
.msginput, .msgbtn {
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 20px;
    border-width: 1px;
    border-style: solid;
}
.msginput {
    width: 780px;
    padding-left: 15px;
    border-color: #999497;
    margin-right: 10px;
}
.msgbtn {
    width: 150px;
    background-color: #ffc78e;
    border-color: #ff9224;
    cursor: pointer;
    transition: all .5s;
}
.msgbtn:hover {
    background-color: #ff9224;
    border-color: #bb3d00;
}
.msginput:focus, .msgbtn:focus {
    outline: none;  /*取消輸入欄點擊時預設外框*/
}

/* 字體設定 */
.msginput, .msgbtn, .onlineheader, .users {
    font-family: 微軟正黑體, arial, sans-serif;
}

/*捲軸樣式*/
::-webkit-scrollbar {  /*寬度*/
    width: 10px;
}
::-webkit-scrollbar-track {  /*進度條*/
    background: #cef3ff;
}
::-webkit-scrollbar-thumb {  /*bar顏色*/
    background: rgb(172, 205, 255); 
}
::-webkit-scrollbar-thumb:hover {  /*滑鼠移入時顏色*/
    background: rgb(130, 177, 248); 
}

/*表情貼圖區*/
.faces {
    width: 100%;
    height: 119px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.faces > img {
    flex: 1;
    margin: auto 0 auto 15px;
    cursor: pointer;
}
